openapi: "3.0.0"
# `parse_spec` turns `info.description` below into this service's clap
# `long_about`, so it also reaches `mapbox search --help`, `--schema` and
# `generate-skills` output. Keep it to API prose only — the provenance below
# is for whoever edits this file, not for a CLI user:
#
# Hand-authored down to the parameters documented at
# docs.mapbox.com/api/search/search-box: forward and reverse geocoding of
# POIs and addresses, category search, and the category list. Excludes
# `/suggest` and `/retrieve/{id}`, which need a caller-managed session_token
# for a client-side autocomplete flow this CLI has no equivalent of. See
# `custom-openapi/README.md` for how a file like this is wired in.
info:
  title: "Mapbox Search Box API"
  description: >-
    A curated subset of the Search Box API's public, non-interactive
    surface — forward and reverse geocoding of POIs and addresses, category
    search, and the category list.
  version: "0.0.0"
servers:
  - url: https://api.mapbox.com/search
    description: Search Box API
paths:
  /searchbox/v1/forward:
    get:
      operationId: forward
      summary: Forward search for an address or POI by free-form text.
      description: >-
        Returns a list of features matching the given search string, with
        coordinates and metadata. Unlike an autocomplete/suggest flow, this
        returns finished results directly from a single query — no
        session_token or follow-up retrieve call.
      parameters:
        - name: "q"
          in: query
          required: true
          description: "The user's query string. Limited to 256 characters."
          schema:
            type: string
            minLength: 1
          example: "34170 Gannon Terrace"
        - name: "access_token"
          in: query
          required: true
          description: "Mapbox API Access Token"
          schema:
            type: string
            minLength: 1
        - name: "language"
          in: query
          required: false
          description: "The ISO language code to be returned. If not provided, the default is English."
          schema:
            type: string
            minLength: 2
          example: "en"
        - name: "limit"
          in: query
          required: false
          description: "The number of results to return, up to 10."
          schema:
            type: integer
          example: 5
        - name: "proximity"
          in: query
          required: false
          description: >-
            Bias the response to favor results closer to a specific
            location. Provide either `ip` to get results closest to the
            user's IP location, or two comma-separated coordinates in
            `longitude,latitude` order. Defaults to IP proximity.
          schema:
            type: string
          example: "-121.90662,37.42827"
        - name: "near"
          in: query
          required: false
          description: >-
            Bias the response to favor results near a location described by
            free-form text (a place or city name) or a `longitude,latitude`
            coordinate pair. Overrides `proximity` when resolved.
          schema:
            type: string
          example: "paris france"
        - name: "bbox"
          in: query
          required: false
          description: >-
            Limit results to those inside a bounding box, as
            `minLon,minLat,maxLon,maxLat`. Cannot cross the 180th meridian.
          schema:
            type: string
          example: "-87.3857,34.3648,-80.3849,38.4895"
        - name: "radius"
          in: query
          required: false
          description: >-
            Limit results to those within a radius, in degrees, of the
            `proximity` point. Also provide `proximity` when using this.
          schema:
            type: number
            minimum: 0.00001
            maximum: 10
        - name: "country"
          in: query
          required: false
          description: "A comma-separated list of ISO 3166 alpha 2 country codes."
          schema:
            type: string
          example: "US"
        # The values are prose rather than an `enum` on purpose: this
        # parameter takes a comma-separated list, and the command builder
        # turns a spec `enum` into a clap `PossibleValuesParser`, which
        # accepts a single value and would refuse `address,street,poi`.
        - name: "types"
          in: query
          required: false
          description: >-
            Limit results to one or more feature types, comma-separated. If
            none are given, all possible types may be returned. Options are
            `country`, `region`, `postcode`, `district`, `place`, `city`,
            `locality`, `neighborhood`, `block`, `street`, `address`, `poi`
            and `category`.
          schema:
            type: string
          example: "address,street,poi"
        - name: "poi_category"
          in: query
          required: false
          description: "Limit results to those in one or more categories, comma-separated."
          schema:
            type: string
        - name: "poi_category_exclusions"
          in: query
          required: false
          description: >-
            A comma-separated list of canonical category names to exclude
            matching POIs.
          schema:
            type: string
          example: "restaurant,bar"
        - name: "show_closed_pois"
          in: query
          required: false
          description: >-
            Set to true to include permanently closed points of interest.
            Excluded by default.
          schema:
            type: boolean
        - name: "open_now"
          in: query
          required: false
          description: >-
            Set to true to limit results to POIs open now, based on hours
            of operation, if available.
          schema:
            type: boolean
        - name: "minimum_rating"
          in: query
          required: false
          description: >-
            Limit results to those with an average rating of at least this
            value, if rating data is available. Between 0.0 and 5.0.
          schema:
            type: number
            minimum: 0
            maximum: 5
        - name: "price_levels"
          in: query
          required: false
          description: >-
            A comma-separated list of price levels to limit results to, if
            price data is available. Accepts `$`, `$$`, `$$$`, `$$$$`.
          schema:
            type: string
          example: "$,$$"
        - name: "exclude_fields"
          in: query
          required: false
          description: >-
            A comma-separated list of metadata fields to omit from the
            response, to reduce payload size. Accepts `photos`, `reviews`.
          schema:
            type: string
        - name: "rank_strategy"
          in: query
          required: false
          description: >-
            Change how results are ranked. Only applies to data sources
            that support it.
          schema:
            type: string
            enum: ["distance", "relevance"]
        - name: "sar_type"
          in: query
          required: false
          description: >-
            Enable search-along-route (SAR) requests around the path given
            by `route`. The only allowed value is `isochrone`.
          schema:
            type: string
            enum: ["isochrone"]
        - name: "route"
          in: query
          required: false
          description: >-
            When SAR is enabled, a polyline-encoded linestring describing
            the route to search along.
          schema:
            type: string
        - name: "route_geometry"
          in: query
          required: false
          description: >-
            When SAR is enabled, the precision of `route` — `polyline` or
            `polyline6`. Defaults to `polyline`.
          schema:
            type: string
            enum: ["polyline", "polyline6"]
        - name: "time_deviation"
          in: query
          required: false
          description: "When SAR is enabled, maximum detour allowed in estimated minutes from the route."
          schema:
            type: number
        - name: "auto_complete"
          in: query
          required: false
          description: >-
            Set to true to enable Autocomplete Mode, which includes partial
            and fuzzy matches.
          schema:
            type: boolean
        - name: "eta_type"
          in: query
          required: false
          description: >-
            Enable ETA calculation in the response. The only allowed value
            is `navigation`; also requires `navigation_profile` and either
            `origin` or `proximity`.
          schema:
            type: string
            enum: ["navigation"]
        - name: "navigation_profile"
          in: query
          required: false
          description: "When ETA calculation is enabled, the routing profile to use."
          schema:
            type: string
            enum: ["driving", "walking", "cycling"]
        - name: "origin"
          in: query
          required: false
          description: >-
            When ETA calculation is enabled, the location to calculate
            distance from, as `longitude,latitude`.
          schema:
            type: string
      responses:
        "200":
          description: A GeoJSON FeatureCollection of matching features.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /searchbox/v1/reverse:
    get:
      operationId: reverse
      summary: Reverse lookup for the addresses and POIs at a coordinate.
      description: >-
        Returns the geographic feature or features at the given coordinate.
      parameters:
        - name: "longitude"
          in: query
          required: true
          description: "The longitude coordinate to search near."
          schema:
            type: number
          example: -87.3859
        - name: "latitude"
          in: query
          required: true
          description: "The latitude coordinate to search near."
          schema:
            type: number
          example: 34.3498
        - name: "access_token"
          in: query
          required: true
          description: "Mapbox API Access Token"
          schema:
            type: string
            minLength: 1
        - name: "language"
          in: query
          required: false
          description: "The ISO language code to be returned. If not provided, the default is English."
          schema:
            type: string
            minLength: 2
          example: "en"
        - name: "limit"
          in: query
          required: false
          description: "The number of results to return, up to 10."
          schema:
            type: integer
        - name: "country"
          in: query
          required: false
          description: "A comma-separated list of ISO 3166 alpha 2 country codes."
          schema:
            type: string
        # Prose rather than an `enum`, for the reason given on `forward`'s
        # copy of this parameter above.
        - name: "types"
          in: query
          required: false
          description: >-
            Limit results to one or more feature types, comma-separated. If
            none are given, all possible types may be returned. Options are
            `country`, `region`, `prefecture`, `postcode`, `district`,
            `place`, `city`, `locality`, `oaza`, `block`, `street`,
            `address`, `poi` and `category`.
          schema:
            type: string
          example: "address,street,poi"
        - name: "show_closed_pois"
          in: query
          required: false
          description: >-
            Set to true to include permanently closed points of interest.
            Excluded by default.
          schema:
            type: boolean
      responses:
        "200":
          description: A GeoJSON FeatureCollection of matching features.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /searchbox/v1/category/{category}:
    get:
      operationId: category
      summary: POIs filtered by a canonical category, near a location or route.
      description: >-
        Returns only POIs belonging to the given canonical category — for
        example, all nearby coffee shops for `coffee`, or all gas stations
        along a route for `gas_station`.
      parameters:
        - name: "category"
          in: path
          required: true
          description: "The canonical category ID to search for."
          schema:
            type: string
            minLength: 1
          example: "coffee"
        - name: "access_token"
          in: query
          required: true
          description: "Mapbox API Access Token"
          schema:
            type: string
            minLength: 1
        - name: "language"
          in: query
          required: false
          description: "The ISO language code to be returned. If not provided, the default is English."
          schema:
            type: string
            minLength: 2
          example: "en"
        - name: "limit"
          in: query
          required: false
          description: "The number of results to return, up to 25."
          schema:
            type: integer
        - name: "proximity"
          in: query
          required: false
          description: >-
            Bias the response to favor results closer to a specific
            location. Provide either `ip` or two comma-separated
            coordinates in `longitude,latitude` order. Category search
            requires one of `proximity`, `near`, `bbox` or `route`.
          schema:
            type: string
          example: "-77.0352085,38.8893779"
        - name: "near"
          in: query
          required: false
          description: >-
            Bias the response to favor results near a location described by
            free-form text (a place or city name) or a `longitude,latitude`
            coordinate pair.
          schema:
            type: string
        - name: "bbox"
          in: query
          required: false
          description: >-
            Limit results to those inside a bounding box, as
            `minLon,minLat,maxLon,maxLat`. Cannot cross the 180th meridian.
          schema:
            type: string
          example: "-124.35526789303981,38.41262975705166,-120.52250410696067,39.54169087094499"
        - name: "radius"
          in: query
          required: false
          description: >-
            Limit results to those within a radius, in degrees, of the
            `proximity` point. Also provide `proximity` when using this.
          schema:
            type: number
            minimum: 0.00001
            maximum: 10
        - name: "country"
          in: query
          required: false
          description: "A comma-separated list of ISO 3166 alpha 2 country codes."
          schema:
            type: string
          example: "FR,DE"
        # Prose rather than an `enum`, for the reason given on `forward`'s
        # copy of this parameter above.
        - name: "types"
          in: query
          required: false
          description: >-
            Limit results to one or more feature types, comma-separated. If
            none are given, all possible types may be returned. Options are
            `country`, `region`, `postcode`, `district`, `place`, `city`,
            `locality`, `neighborhood`, `block`, `street`, `address`, `poi`
            and `category`.
          schema:
            type: string
        - name: "poi_category_exclusions"
          in: query
          required: false
          description: >-
            A comma-separated list of canonical category names to exclude
            matching POIs.
          schema:
            type: string
          example: "restaurant,bar"
        - name: "show_closed_pois"
          in: query
          required: false
          description: >-
            Set to true to include permanently closed points of interest.
            Excluded by default.
          schema:
            type: boolean
        - name: "exclude_fields"
          in: query
          required: false
          description: >-
            A comma-separated list of metadata fields to omit from the
            response, to reduce payload size. Accepts `photos`, `reviews`.
          schema:
            type: string
        - name: "sar_type"
          in: query
          required: false
          description: >-
            Enable search-along-route (SAR) requests around the path given
            by `route`. The only allowed value is `isochrone`.
          schema:
            type: string
            enum: ["isochrone"]
        - name: "route"
          in: query
          required: false
          description: >-
            When SAR is enabled, a polyline-encoded linestring describing
            the route to search along.
          schema:
            type: string
        - name: "route_geometry"
          in: query
          required: false
          description: >-
            When SAR is enabled, the precision of `route` — `polyline` or
            `polyline6`. Defaults to `polyline`.
          schema:
            type: string
            enum: ["polyline", "polyline6"]
        - name: "time_deviation"
          in: query
          required: false
          description: "When SAR is enabled, maximum detour allowed in estimated minutes from the route."
          schema:
            type: number
        - name: "eta_type"
          in: query
          required: false
          description: >-
            Enable ETA calculation in the response. The only allowed value
            is `navigation`; also requires `navigation_profile` and either
            `origin` or `proximity`.
          schema:
            type: string
            enum: ["navigation"]
        - name: "navigation_profile"
          in: query
          required: false
          description: "When ETA calculation is enabled, the routing profile to use."
          schema:
            type: string
            enum: ["driving", "walking", "cycling"]
        - name: "origin"
          in: query
          required: false
          description: >-
            When ETA calculation is enabled, the location to calculate
            distance from, as `longitude,latitude`.
          schema:
            type: string
      responses:
        "200":
          description: A GeoJSON FeatureCollection of matching features.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /searchbox/v1/list/category:
    get:
      operationId: listCategory
      summary: The canonical category IDs usable with `search category`.
      description: >-
        Returns every canonical category ID and display name in the given
        language. Does not describe parent/child relationships between
        categories.
      parameters:
        - name: "access_token"
          in: query
          required: true
          description: "Mapbox API Access Token"
          schema:
            type: string
            minLength: 1
        - name: "language"
          in: query
          required: false
          description: "The ISO language code to be returned. If not provided, the default is English."
          schema:
            type: string
            minLength: 2
          example: "en"
      responses:
        "200":
          description: >-
            A JSON object with a `listItems` array of category list items and
            an `attribution` string.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
