# Read directly by src/account_usage.rs via `include_str!`, not through
# `CUSTOM_SPEC_ENTRIES` — see ../../README.md for why. Kept out of `info.description` because that field
# renders as this command's `--help` text if this spec were ever wired
# generically.
openapi: "3.0.0"
info:
  title: "Mapbox Statistics API"
  description: >-
    The one endpoint `mapbox usage` calls: usage per Mapbox product, by day,
    for the whole account or for a single token. Gated by the token's
    `statistics:read` scope. Written by hand rather than trimmed from an
    upstream spec because openapi-specs publishes none for this API; the
    parameter names are the ones the API answers to, as documented in
    `src/account_usage.rs`.
  version: "0.0.0"
servers:
  - url: https://api.mapbox.com
    description: Statistics API
paths:
  /statistics/v1:
    get:
      operationId: getStatistics
      summary: Usage by product and day, for the account or one token.
      description: >-
        Returns each product's usage per day over the requested period, with
        the per-browser/country/host dimensions behind those totals.
      parameters:
        - name: "access_token"
          in: query
          required: true
          description: "Mapbox API Access Token"
          schema:
            type: string
            minLength: 1
        - name: "token_id"
          in: query
          required: false
          description: >-
            Usage for one token instead of the whole account. `mapbox
            accounts list-tokens` lists the ids.
          schema:
            type: string
        - name: "period_start"
          in: query
          required: false
          description: >-
            Start of the usage period, inclusive, as `YYYY-MM-DD`. Defaults
            to 30 days ago.
          schema:
            type: string
          example: "2026-01-01"
        - name: "period_end"
          in: query
          required: false
          description: >-
            End of the usage period, inclusive, as `YYYY-MM-DD`. Defaults to
            today, and may be at most 31 days after `period_start`.
          schema:
            type: string
          example: "2026-01-31"
      responses:
        "200":
          description: Usage per product, per day, over the period.
        "401":
          description: Unauthorized — the token is missing or invalid.
        "403":
          description: >-
            Forbidden — the token doesn't carry the `statistics:read` scope, or (less
            commonly) it does and the account itself doesn't have access to the Statistics
            API.
        "422":
          description: Unprocessable — the period is malformed, backwards, or longer than 31 days.
        "429":
          description: Too Many Requests — 20 requests per minute per IP.
