openapi: "3.0.0"
# `parse_spec` turns `info.description` below into this service's clap
# `long_about`, so it also reaches `mapbox feedback --help`, `--schema` and
# `generate-skills` output. Keep it to API prose only — the provenance below
# is for whoever edits this file, not for a CLI user:
#
# Hand-authored down to the parameters documented at
# docs.mapbox.com/api/feedback. See `custom-openapi/README.md` for how a
# file like this is wired in. `create` needs `user-feedback:write`, which
# `mapbox auth login` asks for. `POST /oauth/register` drops it until
# mapbox/api-accounts#2152 is deployed.
info:
  title: "Mapbox Feedback API"
  description: >-
    Feedback that end users submit from apps built with Mapbox, through
    the Feedback Agent — filterable, sortable, and paginated.
  version: "0.0.0"
servers:
  - url: https://api.mapbox.com
    description: Feedback API
paths:
  /user-feedback/v1/feedback:
    get:
      operationId: list
      summary: List feedback items.
      description: >-
        Every feedback item on the account, oldest received first by
        default — filterable by id, status, category, a free-text search
        phrase, trace id, or a time window on when it was created,
        received, or last updated. Paginated with `--after`/`start_cursor`/
        `end_cursor` the way every other listing on this CLI is.
      parameters:
        - name: "access_token"
          in: query
          required: true
          description: "Mapbox API Access Token"
          schema:
            type: string
            minLength: 1
        # The API takes several values for `feedback_id`, `status`,
        # `category` and `trace_id` only as a repeated parameter
        # (`status=a&status=b`). A comma-separated value is not split:
        # `status` answers it with a 400, and the others silently match
        # nothing — both verified against production on 2026-10-02. The
        # command builder can't repeat a query parameter yet, so each of
        # these takes one value for now. `status` stays prose rather than an
        # `enum` so it can become a list later without a breaking change to
        # its value parser.
        - name: "feedback_id"
          in: query
          required: false
          description: "Limit to one feedback id."
          schema:
            type: string
        - name: "after"
          in: query
          required: false
          description: "A cursor from a previous response's `end_cursor`, to page forward."
          schema:
            type: string
        - name: "limit"
          in: query
          required: false
          description: "Maximum items to return, up to 1000."
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: "sort_by"
          in: query
          required: false
          description: >-
            Which timestamp to sort by. Defaults to `received_at`.
          schema:
            type: string
            enum: ["received_at", "created_at", "updated_at"]
        - name: "order"
          in: query
          required: false
          description: "Sort direction. Defaults to `asc`."
          schema:
            type: string
            enum: ["asc", "desc"]
        - name: "status"
          in: query
          required: false
          description: >-
            Limit to one status: `received`, `fixed`, `reviewed`, or
            `out_of_scope`.
          schema:
            type: string
          example: "received"
        - name: "category"
          in: query
          required: false
          description: >-
            Limit to one feedback category. Categories are
            account-specific, so there is no fixed list here.
          schema:
            type: string
        - name: "search"
          in: query
          required: false
          description: "A phrase to match against feedback text."
          schema:
            type: string
        - name: "trace_id"
          in: query
          required: false
          description: >-
            Limit to one trace id, as provided by the app that submitted
            the feedback.
          schema:
            type: string
        # "ISO 8601" trails each of these six rather than leads them:
        # `first_sentence` in `src/main.rs` cuts a `--help` line at the
        # first `.`, and "ISO 8601." on its own left `--help` showing just
        # that. `--schema` and `docs/commands.md` still show each in full.
        - name: "created_before"
          in: query
          required: false
          description: "Only items the end user created before this time, ISO 8601."
          schema:
            type: string
        - name: "created_after"
          in: query
          required: false
          description: "Only items the end user created after this time, ISO 8601."
          schema:
            type: string
        - name: "received_before"
          in: query
          required: false
          description: "Only items Mapbox received before this time, ISO 8601."
          schema:
            type: string
        - name: "received_after"
          in: query
          required: false
          description: "Only items Mapbox received after this time, ISO 8601."
          schema:
            type: string
        - name: "updated_before"
          in: query
          required: false
          description: "Only items last updated before this time, ISO 8601."
          schema:
            type: string
        - name: "updated_after"
          in: query
          required: false
          description: "Only items last updated after this time, ISO 8601."
          schema:
            type: string
      responses:
        "200":
          description: >-
            A JSON object with an `items` array (each a feedback item: `id`,
            `status`, `category`, `feedback`, `location`, timestamps), plus
            `has_after`/`end_cursor` and `has_before`/`start_cursor` for
            paging either direction.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

    post:
      operationId: create
      summary: Submit a feedback item.
      description: >-
        Submits one feedback item to Mapbox, filed under the account that owns
        the token. It goes to Mapbox's review queue, and there is no way to
        delete it afterwards. Needs a token with `user-feedback:write`.
      parameters:
        - name: "access_token"
          in: query
          required: true
          description: "Mapbox API Access Token"
          schema:
            type: string
            minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["feedback", "lat", "lon", "category"]
              properties:
                id:
                  type: string
                  format: uuid
                  description: >-
                    A UUID for the item. Generated when omitted. Sending one
                    makes a retry safe: a second request with the same id is
                    rejected rather than filed twice.
                feedback:
                  type: string
                  description: "The text of the feedback."
                lat:
                  type: number
                  description: "Latitude of the place the feedback is about."
                lon:
                  type: number
                  description: "Longitude of the place the feedback is about."
                category:
                  type: string
                  description: >-
                    The feedback category. Not checked against a list;
                    `feedback list` shows the ones already in use.
                feature:
                  type: object
                  description: >-
                    A GeoJSON Feature the feedback is about, with coordinates
                    in GeoJSON's [longitude, latitude] order.
                screenshot:
                  type: string
                  description: >-
                    A PNG or JPEG as a data URI (`data:image/png;base64,…`),
                    not bare base64.
      responses:
        "200":
          description: The created feedback item.
        "400":
          description: >-
            Bad Request — a missing or invalid field, or an id that already
            exists.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  /user-feedback/v1/feedback/{feedback_id}:
    get:
      operationId: get
      summary: Retrieve one feedback item by id.
      parameters:
        - name: "feedback_id"
          in: path
          required: true
          description: "The feedback item's id."
          schema:
            type: string
            minLength: 1
        - name: "access_token"
          in: query
          required: true
          description: "Mapbox API Access Token"
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: >-
            The feedback item: `id`, `status`, `category`, `feedback`,
            `location` (`place_name`, `lon`, `lat`), and its
            created/received/updated timestamps.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found — no feedback item with that id.
